<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About This Blog</h2>
        <p>This is my daily blog that is dedicated to keeping track of my progress as a Developer. Every day, I will review what I have learned and accomplished.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>